@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shippori+Mincho:wght@400;500;600&display=swap');

$mincho: 'Shippori Mincho', serif;
$jost: 'Jost', sans-serif;

header {
    background-color: #FFD700;
    height: 3.3rem;
}
ul, li {
    display: inline-block;
    margin-right: 1.5rem; 
    margin-top: 0.7rem;  
    a {
    text-decoration: none;
    font-family: $mincho;
    color: #000;
    }
    a:hover{
        border: 1px solid grey;
        padding: 5px;
        text-decoration: none;
        color: grey;
    }
}


.menuTop {
    display: inline-block;
    margin-top: 0.5rem;   
}
.link {
    text-decoration: none;
    font-family: $mincho;
    font-size: 1rem;
    color: #000;
    background-color: #FFD700;
    margin-right: 1rem;
    position: relative;

}

// button {
//     position: relative;
//     left: 90%;
// }

.logo {
    height: 3rem;
    position: absolute;
    top: 0.1rem;
    left: 3rem;
}

.nav {
    display: inline-block;
    text-decoration: none;
    text-align: right;
}



