.icons {
    background-color: #FFD700;
    position: fixed;
    bottom: 2rem;
    width:100%;
    align-content: center;
    height: 2.5rem;
    display: block;
    margin: 0 auto;
 }
 
 .icon {
     position: relative;    
     margin-top: 0;
     margin-right: 1rem;
     height: 1.7rem;
     width: auto;
 }
